/* Created By Ritesh Maharjan */

/* Using for whole website */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    padding:1em;
    clear: both;
}

/* header section */

.logo{
    margin-bottom: 1em;
    max-width: 45%;
    float: left;
}

/* home-hero section */

.home-hero h1{
    font-weight: 700;
    font-size: 1.6rem;
    margin:1em 0;
}

.audience{
    color: #808080;
}

.screen-mockups{
    margin:3em 0;
}

.home-hero h3{
    font-size: 1.5rem;
    margin:1em 0;
}

input{
    padding:0.7em 1.2em;
    border-radius:0.3em;
    box-shadow: 0px 0px 10px 1px grey;
    width:100%;
}

.btn{
    width: 100%;
    margin:1em 0;
    padding:0.5em 1em;
    border:1px solid #FF52BF;
    background-color:#FF52BF;
    border-radius:0.3em;
    box-shadow: 0px 0px 10px 1px grey;
    text-decoration: none;
    color:#ddd;
}

/* footer section */

footer{
    background-color:#002D38;
    text-align: start;
}

.white-logo{
   margin:1em 0;
}

.social-media i{
    margin-right:1em 0.5em 1em 0;
    padding:0 0.2em;
    font-size: 2rem;
}

.social-media i:nth-child(odd){
    border:1px solid;
    background-color: #ddd;
}

footer ul{
    list-style: none;
    margin:3em 0;
}
footer ul li{
    margin:1em 0;
}

footer ul a{
    text-decoration: none;
    color: #ddd;
}

p{
    text-align: center;
    color: #ddd;
}

/* Computer screen size-1440px */

@media(min-width:90rem){
    

    .home-hero h1{
        font-size: 2rem;
        margin:1em 0;
    }

    .audience{
        margin:0 4em;
        font-size: 1.2rem;
    }

    .home-hero h3{
        font-size: 2rem;
    }

    input{
        width: 40%;
        position: relative;
        left:-9rem;
    }
    
    .btn{
        width:35%;
        position: relative;
        left:-7rem;
    }
    
    .white-logo{
        width:25%;
        margin-left: 2em;
    }

    .social-media{
        position: relative;
        left: 1em;
        margin-left: 2em;
    } 
    

    footer ul{
        position: relative;
        top: -13rem;
        left: 25rem;
        margin-left: 2em;   
        font-size:1.5rem;
    }

    footer ul li{
        padding:0 1em;
        display: inline-block;
    }

    footer p{
        display: flex;
        justify-content: flex-end;
        clear: both;
        position: relative;
        top: -16rem;
        margin-right: 13em;
    }
}